* text=auto

*.c text eol=lf
*.h text eol=lf
*.s text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.doc binary
*.docx binary
*.zip binary
*.epro binary
*.f3d binary
*.stp binary
*.step binary
*.stl binary
